/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

a {
    color: #FFF;
}

a:visited {
    color: #FFF;
}

a:hover {
    color: #FFF;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   DEBUG
   ========================================================================== */

body{
  /*background-image: url(../mockups/casaPortuguesa_v5_balloon.png);*/
  /*background-image: url(../mockups/casaPortuguesa_v7_contador_ballon_com_foto.jpg);*/
  /*background-image: url(../mockups/casaPortuguesa_v7_contador.jpg);*/
  /*background-image: url(../mockups/casaPortuguesa_v8_contador_pop.jpg);*/
  /*background-image: url(../mockups/casaPortuguesa_v10_aviso_mini.png);*/
}
#promo-fake{
  background-image: url(../mockups/casaPortuguesa_v10.jpg);
}
#promo-fake header{
  background-image: none;
}
#promo-fake #content{
  height:1200px;
}
#promo-fake #share{
  display: none !important;
}
#content #contador .digit,
#content aside,
header{
  /*opacity:0.5;*/
}
#content #main{
  /*opacity:0.1;*/
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body,
header,
header .logo,
#instagram-icon,
#content #share,
#content #contador .digit,
#content #contador .digit hr,
#content #popup-opener p .caret,
#content #message-popup .close-button {
  background-repeat: no-repeat;
}

header .logo,
header nav ul,
#content #contador .digit p,
#content #contador .digit hr,
#content #share ul,
#content aside h1,
#content aside h2{
  margin:0;
}

body{
  background-position: top center;
  background-color: #231f20;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  color: rgba(255,255,255,0.99);
}

a{
  text-decoration: none;
  color: #ffffff;
  color: rgba(255,255,255,0.99);
}

header{
  height:151px;
  padding-bottom: 47px;
  background-image: url(../img/sombra.png);
  background-position:center bottom;
  position: relative;
  z-index: 2;
}

header .bg{
  width:100%;
  height:171px;
  background-color:#ffffff;
}
header .content,
#content{
  margin: auto;
  width:1092px;
}

header .logo{
  height:151px;
  width:345px;
  float: left;
  background-image: url(../img/logos.png);
  background-position: 0px 19px;
  margin-right: 113px;
}

header nav ul li{
  float: left;
  margin-right: 10px;
  padding-bottom: 13px;
}
header nav ul li a{
  display: table-cell;
  height: 136px;
  vertical-align: bottom;
  font-size: 12px;
  line-height: 12px;
  color: #231f20 !important;
  padding:11px;
  background-color: #fff;
  outline: none !important;
}
header nav ul li.active,
header nav ul li:hover,
#content aside{
  background: #ee1941; /*vermelho da bola do logo*/
  background-color: rgba(238, 25, 65, 0.9);
  -pie-background: rgba(238, 25, 65, 0.9);
  behavior: url(ie/PIE.htc);
}
header nav ul li.external:hover{
  background: #009f4e;
  background-color: rgba(0, 159, 78, 0.9);
  -pie-background: rgba(0, 159, 78, 0.9);
  behavior: url(ie/PIE.htc);
}
#instagram-icon {
  width:55px;
  height:145px;
  margin-left: 15px;
  float: left;
  background-image: url(../img/instagram.png);
  background-position: 0px bottom;
}

#content{
  position:relative;
}

#main{
  position: absolute;
  min-height: 700px;
  width: 100%;
	top:-27px;
/*	background-color: rgba(0,0,255,.2);*/
}
#main #contador{
  width:1033px;
  height:504px;
  margin:auto;
  margin-top:-23px;
  margin-bottom: 35px;
}
#main #contador .digit hr,
#main #contador .digit{
  width:248px;
  height:504px;
}
#main #contador .digit{
  width:248px;
  height:504px;
  background-image: url(../img/base_contador.png);
  float: left;
  margin-left: 8px;
  position: relative;
}
#main #contador .digit p{
  text-align: center;
  font-size: 438px;
  line-height: 481px;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.8;
}
#main #contador .digit hr{
  position: absolute;
  top: 0;
  border: none;
  background-image: url(../img/tapa-numero.png);
}
#main #contador .digit .top-text,
#main #contador .digit .bottom-text{
  position: absolute;
  font-weight: normal;
}
#main #contador .digit .top-text{
  font-size: 24px;
  line-height: 24px;
  top: 29px;
  left: 38px;
  opacity: 0.5;
  letter-spacing: 0px;
}
#main #contador .digit .bottom-text{
  font-size: 36px;
  line-height: 36px;
  bottom: 15px;
  right: 17px;
  opacity: 0.9;
  letter-spacing: 0px;
}
#main h2,
#main p,
#content aside h1{
  font-weight: 100;
  letter-spacing:1px;
}
#main h2,
#content aside h1{
  font-size: 26px;
  line-height: 32px;
}
#content aside h3{
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
  letter-spacing: 1px;
  margin-top: 0px;
	margin-bottom: 20px;
}
#main h2,
#main p {
  margin-left:60px;
}
#main h2{
  margin-bottom:0px;
  margin-left: 0px;
  text-align: center;
}
#main p {
  font-size: 22px;
  line-height: 26px;
  margin-top:0px;
  color: #8c8c8c;
}
#popups{
  position: relative;
  top:-27px;
  min-height:600px;
  overflow: hidden;
}
#content aside{
  position: relative;
  top: 0px;
  padding:28px;
  padding-top: 9px;
  padding-right: 29px;
  padding-bottom: 12px;
  margin-bottom:100px;
  display: none;
  width:233px;
  z-index: 3;
  -webkit-border-radius: 0 0 30px 0;
  -moz-border-radius: 0 0 30px 0;
  border-radius:0 0 30px 0;
}
#content #share,
#content aside.opened{
  display: block;
}

#content aside a:hover{
  text-decoration: underline;
  color:#ffffff;
}

#content aside section{
  width: 100%;
  /*display: table;*/
  margin-bottom: -4px;
}

#content aside h1{
  /*margin-top: 10px;*/
}
#content aside h2{
  color:#83041c;
  margin-top: -3px;
}
#content aside h2,
#content aside p{
  font-size: 13px;
}
#content aside p{
  margin-top: 15px;
  line-height: 16px;
}
#content aside p.menor{
  font-size: 10px;
  color:black;
}
#content #popup-opener,
#content #message-popup{
  display: inline-block;
  position: absolute;
  -o-transition-property: top;
  -moz-transition-property: top;
  -webkit-transition-property: top;
  transition-property: top;
  -o-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  background: #009f4e;
  background-color: rgba(0, 159, 78, 0.9);
  -pie-background: rgba(0, 159, 78, 0.9);
  behavior: url(ie/PIE.htc);
}
#content #popup-opener{
  left:709px;
  width:320px;
  padding: 0px;
  -webkit-border-radius: 0 0 8px 0;
  -moz-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
  behavior: url(ie/PIE.htc);
}
#content #popup-opener p{
  margin:0px;
  font-size: 14px;
  line-height: 32px;
  margin-left: 15px;
}
#content #popup-opener p a{
  display: block;
  text-decoration: none !important;
}
#content #popup-opener p .caret{
  position: absolute;
  width:10px;
  height:10px;
  right:12px;
  top:12px;
  background-image: url(../img/sprite_X_V.png);
  background-position: 0px -8px;
}
#content #message-popup{
  left:569px;
  width:397px;
  padding-bottom: 22px;
  padding-left: 36px;
}
#content #popup-opener.closed{
  top:-60px;
}
#content #message-popup.closed{
  top:-380px;
}
#content #message-popup h1{
  font-size: 36px;
  line-height: 36px;
  margin-top: 20px;
}
#content #message-popup h2{
  font-size: 23px;
  line-height: 28px;
  margin-top: 28px;
  font-weight: 100;
  letter-spacing: 1px;
  color:#97f8c4;
}
#content #popup-opener p a,
#content #message-popup .tag{
  color:#ffffff;
  color: rgba(255,255,255,0.99);
}
#content #message-popup p{
  font-size: 15px;
  margin-top: 25px;
}
#content #message-popup .close-button{
  position: absolute;
  top:-13px;
  left:438px;
  width:20px;
  height: 10px;
  background-image: url(../img/sprite_X_V.png);
  overflow: hidden;
}
#content #message-popup .close-button a{
  padding-left: 18px;
  color:transparent;
}
#content #share{
  position: absolute;
  left: 1057px;
  width: 15px;
  padding: 7px;
  padding-bottom:9px;
  -webkit-border-radius: 0 0 8px 0;
  -moz-border-radius: 0 0 8px 0;
  border-radius: 0 0 8px 0;
  background-image: url(../img/etiqueta.png);
  behavior: url(ie/PIE.htc);
}
.lt-ie9 #content #share{
  background-image: none;
}
.lt-ie9 #content #share .facebook{
  background-image: url(../img/etiqueta.png);
  background-position: -7px -7px;
}
.lt-ie9 #content #share .vimeo{
  background-image: url(../img/etiqueta.png);
  background-position: -7px -33px;
}
.lt-ie9 #content #share .twitter{
  background-image: url(../img/etiqueta.png);
  background-position: -8px -57px;
}
#content #share ul{
  padding: 0;
  list-style: none;
}
#content #share ul li {
  width: 16px;
  height:16px;
  margin-bottom: 5px;
  overflow: hidden;
}
#content #share ul li a{
  padding-top: 16px;
  display: block;
}
#content #projeto{
/*458 .. 527*/
  left: 444px;
}
#content #casa{
/*537 .. 620*/
  left:521px;
}
#content #regulamento{
/*630 .. 729*/
  left:417px;
  width:585px;
  padding-top: 0px;
  padding-bottom: 30px;
}
#content #regulamento h1{
  margin-top: 30px;
}
#content #coletivos{
/*739 .. 823*/
  padding-top: 20px;
  padding-bottom: 20px;
  left: 569px;
  width:405px;
}
#content #coletivos .foto{
  width:143px;
  height:143px;
  vertical-align: top;
  margin-right:20px;
	margin-top: 6px;
  display: block;
  float:left;
}

#content #coletivos .content{
  display: block;
  float:left;
  width:200px;
}
#content #inauguracao{
	left: 550px;
	width: 436px;
}

#content #inauguracao .logo-esq{
	padding-bottom: 10px;
}

#content #inauguracao .logo-dir{
	float: right;
}

#content #contato{
/*936 .. 1005*/
  left: 922px;
}



/*IE7*/
.lt-ie8 header{
  background-image: none;
}
.lt-ie8 header .logo{
  position: absolute;
  margin-left:2px;
}
.lt-ie8 header nav {
  position: relative;
  display: inline;
  left:420px;
  zoom:1;
}
.lt-ie8 #instagram-icon {
  position: absolute;
  left: 50%;
  margin-left:487px;
}
.lt-ie8 header nav ul li a{
  display: block;
  height: 66px;
  position: relative;
  padding: 0px;
}
.lt-ie8 header nav ul li.active a,
.lt-ie8 header nav ul li a:hover{
  background-color: #ee1941;
  -pie-background: rgba(238, 25, 65, 0.9);
  behavior: url(ie/PIE.htc);
}
.lt-ie8 header nav ul li.active a{
  height:53px;
}
.lt-ie8 header nav ul li.external a:hover{
  background: #009f4e;
  -pie-background: rgba(0, 159, 78, 0.9);
  behavior: url(ie/PIE.htc);
}
.lt-ie8 header nav ul li a span{
  padding-bottom: 0px;
  padding:11px;
  background-color: white;
  height: 30px;
  overflow: hidden;
  display: block;
  position: relative;
  cursor: pointer;
}
.lt-ie8 header nav ul {
  display: block;
  float: left;
  position: relative;
  top: 105px;
}
.lt-ie8 #main #contador .digit hr{
  display: none;
}
.lt-ie8 #content #share,
.lt-ie8 #content aside.opened{
  position: absolute;
  display: inline-block;
}
.lt-ie8 #content aside.opened{
  z-index:4;
}
#content #regulamento{
  width:577px;
}

/*IE6*/

.lt-ie7 header{
  height: 171px;
  margin: 0px;
  padding:0px;
  overflow: hidden;
}
.lt-ie7 header nav ul li{
  background:yellow;
  width: 70px;
}
.lt-ie7 #content{
  margin-top:27px;
}


/* ==================
   Mauricio
   ================== */

#main ol li {
	position: relative;
	list-style: none;
	float: left;
	width: 256px;
	height: 256px;
}
#main ol.destaques {
	position: relative;
	top: -16px;
	left: -8px;
}
#main ol.destaques li a {
	position: absolute;
}
#main ol.destaques li span {
	position: absolute;
	right: 0px;
	bottom: -25px;
	text-align:right;
	font-size:77px;
	font-weight: 100;
	letter-spacing:-3px;
	padding-left: 20px;
	background-image: url("../img/heart.png");
	background-repeat: no-repeat;
	background-position: 0px 50px;
}
#main p.primeiro {
	padding-top: 27px;
	color: white;
}
#main p.ultimo {
	padding-bottom: 21px;
}
#main p {
	clear: both;
	text-align: center;
	font-size: 25px;
	line-height: 6px;
	color: rgba(255,255,255,.5);
}
#main ol.recentes{
	position: relative;
	top: 0px;
	left: -8px;
}
#main ol.recentes li{
	width: 143px;
	height: 143px;
	margin-right: 4px;
	margin-bottom: 4px;
}
#main ol.recentes img{
	width: 143px;
	height: 143px;
}
#main #mouse-over{
	position: absolute;
	top: 582px;
	left: -24px;
}
#main #mouse-over img{
	box-shadow: 0px 5px 25px 8px #231F20;
}

/*omitir em produção*/
#ref img{
	position: absolute;
	top: -27px;
	left: -97px;
	opacity: .2;
	z-index: 1000;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

#content aside section:before,
#content aside section:after,
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

#content aside section:after,
.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
